#abilities {
    background-color: #f8eddb;
}

#abilitiesHR {
    height: 2px;
    color: black;
}

.emptyCircle {
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 50%;
    border: 1px black solid;
    display: inline-block;
}

.fullCircle {
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 50%;
    background-color: black;
    border: 1px black solid;
    display: inline-block;
}

@media (max-width: 991px) {
    .categories {
        margin-left: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .categories {
        margin-left: 12.5%;
    }
}

@media (min-width: 1200px) {
    .categories {
        margin-left: 8.33%;
    }
}

