#abilities {
    background-color: #0c151b;
    color: #86c232
}

#abilitiesHR {
    height: 2px;
    color: #86c232;
}

.emptyCircle {
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 50%;
    border: 1px #86c232 solid;
    display: inline-block;
}

.fullCircle {
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 50%;
    background-color: #86c232;;
    border: 1px #86c232 solid;
    display: inline-block;
}

@media (max-width: 991px) {
    .categories {
        margin-left: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .categories {
        margin-left: 12.5%;
    }
}

@media (min-width: 1200px) {
    .categories {
        margin-left: 8.33%;
    }
}

