#abilities {
    background-color: #142530;
    background-image: linear-gradient(to bottom,#0c2024, #222629);
    color: white;
}

#abilitiesHR {
    height: 2px;
    color: white;
}

.emptyCircle {
    width: 0.6em;
    height: 0.6em;
    margin: 2px;
    border-radius: 50%;
    border: 1px #1b9ce5 solid;
    display: inline-block;
}

.fullCircle {
    width: 0.6em;
    height: 0.6em;
    margin: 2px;
    border-radius: 50%;
    background-color: #1b9ce5;
    border: 1px #1b9ce5 solid;
    display: inline-block;
}

.skillCol {
    font-size: 0.8em;
    align-self: center;
}


@media (max-width: 576px) {
    .categories {
        margin-left: 17.5%;
    }
}

@media (min-width: 577px) and (max-width: 991px) {
    .categories {
        margin-left: 25%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .categories {
        margin-left: 12.5%;
    }
}

@media (min-width: 1200px) {
    .categories {
        margin-left: 8.33%;
    }
}

