.paragraph {
    margin: 50px;
    text-align: center;
}

#aboutMe {
    background-color: #d8cfc4;
    width: 100%;
    padding: 100px 0px 150px 0px;
}

#aboutMeParagraph {
    padding: 0px 5% 0px 5%;
    margin: 30px -10px 40px 0px;
}

#aboutMeHR {
    height: 2px;
    color: black;
}

#profile {
        background-image: url('../images/profile.jpeg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -70px;
        background-size: 300px;
        height: 300px;
        width: 300px;
        background-color: white;
        box-shadow: 0px 3px 10px black;
        border-radius: 50%;
        transition: transform 0.5s;
}

#profile:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
  }

.profileDisplay {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* lg */
@media (min-width: 992px) and (max-width: 1199px) {
    #profile {
        background-size: 33vw;
        height: 33vw;
        width: 33vw;
    }
}

/* xl */
@media (min-width: 1200px) {
    #profile {
        background-size: 400px;
        height: 400px;
        width: 400px;
    }
}