.paragraph {
    margin: 50px;
    text-align: center;
}

#aboutMe {
    background-color: #d8cfc4;
    width: 100%;
}

#aboutMeParagraph {
    padding: 0px 10% 0px 10%;
}

#aboutMeHR {
    height: 2px;
    color: black;
}