@import "./AboutMe.css";
@import "./Contact.css";

section > h1 {
    text-align: center;
    margin-bottom: 15px;
}

.center {
    display: flex;
    justify-content: center;
}

.quote {
    text-align: center;
    margin: auto 10px 10px 15px;
}