@import "./AboutMe.css";
@import "./Projects.css";
@import "./Abilities.css";
@import "./SliceOfLife.css";
@import "./Contact.css";

hr {
    width: 80%;
    height: 2px;
    margin: 30px auto 30px auto;
    opacity: 100%
}

section {
    padding: 100px 30px;
}

section > h1 {
    text-align: center;
    margin-bottom: 15px;
}

p {
    text-align: center;
    margin: 10px;
}

h2 {
    text-underline-offset: 5px;
}

.separate {
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote {
    text-align: center;
    margin: auto 10px 10px 15px;
}

.boxed {
    padding: 20px;
    border: black 1px solid;
    border-radius: 2rem;
    box-shadow: 0px 3px 10px black;
    position: relative;
    top: 8px;
    width: 100%;
}

.left-align {
    justify-content: left;
    text-align: left;
}