section#contactMe {
    background-color: #434242;
    color: #7f7f7f;
}

.dot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 0px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Email {
    background-color: #ffff66;
}

#LinkedIn {
    background-color: #3399ff;
}

#Github {
    background-color: #ff0033;
}

#Instagram {
    background-color: #66ff00;
}