

.dot {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px 0px 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black solid;
    box-shadow: 0px 3px 10px black;
}

#Email {
    background-color: #21aeff;
}

#LinkedIn {
    background-color: #f25555;
}

#Github {
    background-color: #5edb71;
}

#Instagram {
    background-color: #fff34d;
}

#contactMeHR {
    height: 2px;
    color: white;
}

#contactMe {
    background-color: #434242;
    color: white;
}