#education {
    background-color: #154a18;
    background-image: linear-gradient(to bottom, #75b2bf, #1c7aa6);
    color: black;
}

.schoolBox {
    background-color: #154a18;
    color: white;
    width: auto;
    margin: 20px 0px 20px 0px;
}

.container {
    justify-items: center;
}

.schoolLogo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120px;
    height: 180px;
    width: 180px;
    margin: 1rem;
    background-color: white;
    box-shadow: 0px 3px 10px black;
    border-radius: 50%;
    transition: all 0.5s;
}

.schoolLogo:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}

.centerText {
    text-align: center;
    align-self: center;
}

.experiences, .card-header, .card-body{
    background-color: #154a18;
    border: none;
}

.experiencesDropdown {
    margin-top: 10px;
    text-underline-offset: 3px;
    color: white;
}

.bottomDropdowns {
    width: 100%;
    margin: 0px;
}

.experiencesDropdown:hover {
    color: #0645AD;
    cursor: pointer;
}

.row.visibleSm {
    display: none;
}

.schoolName {
    font-size: 2em;
}

.schoolLocation {
    font-size: 1.5em;
}

/* xs */
@media (max-width: 576px) {
    .schoolLogo {
        margin-bottom: 20px;
    }

    .vlRight {
        border-right: 2px solid;
        height: 100%px;
      }

      .schoolName {
        font-size: 1.5em;
    }
    
    .schoolLocation {
        font-size: 1.2em;
    }
}

/* sm */
@media (min-width: 577px) and (max-width: 767px) {
    .leftBorder {
        border-left: 2px white solid;
        padding: 20px;
    }

    .invisibleSm {
        display: none;
    }

    .row.visibleSm {
        display: block;
    }
}

/* md */
@media (min-width: 768px) and (max-width: 991px) {
    .leftBorder {
        border-left: 2px white solid;
        padding: 20px;
    }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .leftBorder {
        border-left: 2px white solid;
        padding: 20px;
    }

    .vlRight {
        border-right: 2px solid;
        height: 100%px;
      }
}

/* xl */
@media (min-width: 1200px) {
    .leftBorder {
        border-left: 2px white solid;
        padding: 20px;
    }
}

div .educationHR {
    margin: 8px auto 8px auto;
    height: 2px;
    width: 100%;
}

#deerfield {
    background-image: url('../images/deerfLogo.png');
}

#dartmouth {
    background-image: url('../images/dartLogo.png');
}


.dropdownContents {
    font-size: 0.75em;
    color: white;
}
