#projects {
    background-color: #d8cfc4;
}

#projectsHR {
    height: 2px;
    color: black;
}

.projectBox {
    color: black;
    margin: 20px;
    padding: 10px;
    padding-top: 10%;
    height: 400px;
    position: relative;
}

.projectImage {
    background-position: center;
    background-size: 800px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: 0.7s;
}

.projectImageHover {
    opacity: 30%;
    background-position-x: 65%;
    transition: 0.7s;
}

.ethanlchen {
    background-image: url('../images/projects/ethanlchen.png');
    background-size: cover;
}

.simon {
    background-image: url('../images/projects/simon.jpg');
    background-size: cover;
}

.pandemic {
    background-image: url('../images/projects/pandemic.png');
    background-size: cover;
}

.sudoku {
    background-image: url('../images/projects/sudoku.png');
    background-size: cover;
}

.projectImageHover.ethanlchen {
    background-image: url('../images/projects/gifs/ethanlchen.gif');
    background-size: cover;
}

.projectImageHover.simon {
    background-image: url('../images/projects/gifs/simon.gif');
    background-size: cover;
}

.projectImageHover.pandemic {
    background-image: url('../images/projects/gifs/pandemic.gif');
    background-size: cover;
}

.projectImageHover.sudoku {
    background-image: url('../images/projects/gifs/sudoku.gif');
    background-size: cover;
}


.projectTileHR {
    margin: 5px auto 5px auto;
    width: 100%;
}

.projectTitleBox {
    background-color: #1b9ce5;

}

.repoLink {
    display: block;
    background-color: #1b9ce5;
    color: black;
    text-decoration: none;
    transition: all 0.5s;
}

.repoLink:hover {
    transform: translateY(-5px);
    transition: transform 0.5s;
    color: black;
    text-decoration: underline;
}

.middleBar {
    border-left: 2px white solid;
    padding: 20px;
}

.projectName {
    font-size: 2em;
}

.projectDate {
    font-size: 1.5em;
}

.repoLink.invisible {
    display: hidden;
}

@media (max-width: 576px) {
    .projectBox {
        color: black;
        margin: 10px;
        padding: 5px;
        padding-top: 20%;
        height: 400px;
        position: relative;
    }

    .boxed.repoLink {
        padding: 10%;
    }
}
