#projects {
    background-color: #a4c3d2;
}

#projectsHR {
    height: 2px;
    color: black;
}

.projectBox {
    height: 300px;
    width: auto;
    background-color: #1b9ce5;;
    color: white;
    margin: 20px;
}

.projectTileHR {
    margin: 5px auto 5px auto;
    width: 100%;
}

.repoLink {
    background-color: white;
    color: black;
    text-underline-offset: 3px;
}

.middleBar {
    border-left: 2px white solid;
    padding: 20px;
}