#sliceOfLife {
    background-color: #ffda00;
    padding: 30px;
}

#sliceOfLifeHR {
    height: 2px;
    color: black;
}

.activity {
    margin: 20px;
}

@media (min-width: 768px) {
    .activity > .left-align {
        justify-content: left;
        text-align: left;
    }

    .left-align > .boxed {
        width: 100%;
    }
}
