#title {
    font-family: LGItalic, 'serif';
    background-color: #0f292f;
    background-image: linear-gradient(to bottom right,#061012, #2ba1bb);
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.main {
    transform: translate(0px, calc(100vh * .1));
}

.introducing {
    color: white;
    line-height: .743em;
    transform: translate(-30px, 0px);
}

.name {
    color: #1b9ce5;
    line-height: .743em;
    transform: translate(-30px, 0px);
}

.rightAligned {
    text-align: right;
}

.sideText {
    position: relative;
}

.resume {
    position: relative;
    color: #3a3b3c;;
    line-height: .8em;
    transform: translate(-30px, 0px);
}

.hoverChangeOrange:hover {
    color: #cf8404;
    transition: linear;
}

.hoverChangeOrange {
    transition: color 1s linear;
}

.hoverChangePurple:hover {
    color: #020145;
    transition: linear;
}

.hoverChangePurple {
    transition: color 1.5s linear;
}

.disappear:hover {
    color: transparent;
    transition: color linear;
}

.disappear {
    transition: color 1.5s linear;
}

.downIcon {
    color: white;
    position: relative;
    bottom: 0;
}

.downIcon:hover {
    color: #cf8404;
}

.defaultCursor {
    cursor: default;
}

.bottom {
    width: 100vw;
    align-self: flex-end;
    transform: translate(0px, -40px);
}

/* xs */
@media (max-width: 576px) {

    .introducing, .name, .resume {
        font-size: 10em;
    }

    .resume {
        top: 20px;
    }
}

/* sm */
@media (min-width: 577px) and (max-width: 767px) {
    .introducing, .name, .resume {
        font-size: 10em;
    }

    .resume {
        top: 20px;
    }
}

/* md */
@media (min-width: 768px) and (max-width: 991px) {
    .introducing, .name, .resume {
        font-size: 10em;
    }

    .resume {
        top: 40px;
        left: 10px;
    }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .introducing, .name, .resume {
        font-size: 10em;
    }

    .resume {
        top: 50px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .introducing, .name, .resume {
        font-size: 10em;
    }

    .resume {
        top: 60px;
    }
}

