#title {
    font-family: LGItalic, 'serif';
    padding: 100px 0px 150px 10px;
    background-color: #0f292f;
}

.introducing {
    color: white;
    line-height: .743em;
}

.name {
    color: #1b9ce5;
    line-height: .743em;
}

.rightAligned {
    text-align: right;
}

.sideText {
    position: relative;
}

.resume {
    position: relative;
    color: #434242;
    line-height: .8em;
}

/* xs */
@media (max-width: 576px) {

    .introducing, .name, .resume {
        font-size: 5em;
    }

    .resume {
        top: 20px;
    }
}

/* sm */
@media (min-width: 577px) and (max-width: 767px) {
    .introducing, .name, .resume {
        font-size: 8em;
    }

    .resume {
        top: 20px;
    }
}

/* md */
@media (min-width: 768px) and (max-width: 991px) {
    .introducing, .name, .resume {
        font-size: 11em;
    }

    .resume {
        top: 40px;
        left: 10px;
    }
}

/* lg */
@media (min-width: 992px) and (max-width: 1199px) {
    .introducing, .name, .resume {
        font-size: 14em;
    }

    .resume {
        top: 50px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .introducing, .name, .resume {
        font-size: 16em;
    }

    .resume {
        top: 60px;
    }
}

