@import "./styles/App.css";

@font-face {
  font-family: 'LGItalic';
  src: local('LGItalic'), url(./fonts/LeagueGothic/LeagueGothic-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'LG';
  src: local('LG'), url(./fonts/LeagueGothic/LeagueGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arvo';
  src: local('Arvo'), url(./fonts/Arvo/Arvo-Regular.ttf) format('truetype');
}


body {
  margin: 0;
  font-family: Arvo, 'serif';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
